@import "src/styles/helper";

.stepper-wrapper {
  .step {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    &-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border-color: var(--app-purple);
      background-color: var(--app-purple);

      @include text-styles($text-xl, $white, 700);
    }

    &-line {
      top: 35px;
      left: 18px;
      height: 100%;
      position: absolute;
      border-left: 3px solid var(--app-purple);

      &.last {
        z-index: -1;
        border-left: 3px solid white;
      }
    }

    &-content {
      margin-left: 20px;
      white-space: pre-wrap;
    }
  }

  .v-stepper {
    position: relative;
  }
}
