@import "src/styles/helper";

$min992: "(min-width: 992px)";
$max991: "(max-width: 991px)";
$min1440: "(min-width: 1440px)";
$max1600: "(max-width: 1600px)";

.search-wrapper {
  border-bottom: 1px solid $white;

  @media #{$max991} {
    display: none;
  }

  .custom-input {
    border: none;
    padding: 0 15px;
    width: calc(100% - 40px);
    background-color: $black;
    @include text-styles($text-sm, $white, 400);

    @media #{$min992} and #{$max1440}  {
      max-width: 180px;
    }

    @media #{$min1440} and #{$max1600} {
      max-width: 290px;
    }

    &::placeholder {
      @include text-styles($text-sm, $grey, 400);
    }
  }

  .search-icon {
    font-size: $text-xl;
  }
}
