@import "src/styles/helper";

$name: "hero-layout";

.#{$name} {
  padding: 0 80px;

  @media #{$max767} {
    flex-direction: column-reverse;
  }

  @media #{$max1440} {
    padding: 0 20px;
  }

  &-content {
    width: 100%;

    @media #{$max767} {
      padding-bottom: 20px;
    }

    &-title {
      @include text-styles($text-6xl, $white, 700);

      @media (min-width: 768px) and #{$max1200} {
        font-size: $text-2xl;
      }

      @media #{$max767} {
        font-size: $text-5xl;
        text-align: center;
      }

      & > .text-purple {
        color: var(--app-purple);
      }
    }

    &-desc {
      @include text-styles($text-base, $white, 500);

      @media #{$max767} {
        font-size: $text-sm;
        text-align: center;
      }
    }

    .subscribe-in-hero {
      max-width: 600px;

      h2 {
        @include text-styles($text-3xl, $white, 700);

        @media (min-width: 768px) and #{$max992} {
          font-size: $text-xl;
        }

        @media #{$max767} {
          font-size: $text-2xl;
          text-align: center;
        }
      }
    }
  }

  &-image-wrapper {
    @media #{$max767} {
      margin: 40px 0;
    }
  }
}

.#{$name}-wrapper {
  min-height: calc(100vh - var(--app-header-height) - var(--app-subheader-height));

  @media #{$max992} {
    min-height: auto;
  }
}
