@import "src/styles/helper";

.tag-wrapper {
  padding: 0;
  overflow-x: auto;
  position: relative;
  max-width: var(--app-max-w);

  @media (max-width: 1440px) {
    padding: 0 10px;
  }

  .tag {
    padding: 5px 30px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: unset;
    border: 1px solid $white;

    @include text-styles($text-base, $white, 400);

    &:hover,
    &.selected {
      color: $black;
      background-color: $white;
    }

    & > span {
      white-space: nowrap;
    }
  }
}

.opacity-layer {
  @media (max-width: 767px) {
    right: 0;
    width: 60px;
    z-index: 1;
    height: 65px;
    position: absolute;
    background-image: linear-gradient(to left, rgba($black, 1), rgba($black, .1));
  }
}
