@import "helper";

:root {
  --app-purple: #a532ff;
  --app-yellow: #fadf4b;
  --app-max-w: 1920px;
  --app-header-height: 76px;
  --app-subheader-height: 68px;
}

body {
  margin: 0 auto;
  background-color: $black;
  max-width: var(--app-max-w);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout-height {
  margin-top: var(--app-header-height);
}

.app-orange-button {
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  @include text-styles($text-sm, $black, 700);
  background-color: var(--app-yellow) !important;
}

.cursor-pointer {
  cursor: pointer;
}

input:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
 }
