@import "src/styles/helper";

$max991: "(max-width: 991px)";
$min992: "(min-width: 992px)";

header {
  .navigation {
    padding: 0 80px;
    margin: 0 auto;
    background-color: $black;
    max-width: var(--app-max-w);
    border-bottom: 1px solid rgba($white, .25);

    @media #{$max1440} {
      padding: 0 20px;
    }

    .custom-collapse {
      flex-grow: 0;
      flex-basis: 80% !important;
      justify-content: space-between;

      @media #{$max991} {
        flex-basis: 100% !important;
      }

      @media #{$min992} and #{$max1440}  {
        flex-basis: 70% !important;
      }

      .app-orange-button {
        width: auto;

        @media #{$max991} {
          margin-top: 40px;
        }
      }
    }

    .navbar-toggler {
      padding: 0;
      border: none;

      & > svg {
        font-size: 25px;
      }
    }

    .app-logo {
      @media #{$max991} {
        width: 150px;
      }
    }

    .logo-visible {
      @media #{$max991} {
        visibility: visible;
      }
    }

    .logo-invisible {
      @media #{$max991} {
        visibility: hidden;
      }
    }
  }

  .navbar-dark {
    .navbar-nav {
      width: 50%;
      justify-content: space-between;

      &.actions-wrapper {
        @media #{$min992} and #{$max1440}  {
          justify-content: center;
        }
      }

      @media #{$max991} {
        width: 100%;
        align-items: center;
      }

      .nav-link {
        padding: 0 40px;
        @include text-styles($text-base, $white, 700);

        &:hover {
          color: var(--app-yellow);
        }

        &.active {
          color: var(--app-yellow);
        }

        @media #{$max991} {
          padding: 20px 0;
          @include text-styles($text-lg, $white, 700);
        }

        @media #{$min992} and #{$max1440}  {
          padding: 0 10px;
        }
      }
    }
  }
}

.empty-cell {
  display: none;

  @media (max-width: 992px) {
    width: 20px;
    display: block;
  }
}
