@import "src/styles/helper";

footer {
  color: $white;
  padding: 30px 80px;
  background-color: $black;

  @media #{$max767} {
    padding: 30px 20px;
    text-align: center;
  }

  @media #{$max1440} {
    padding: 30px 20px;
  }

  .footer-nav-list {
    padding-top: 50px;

    @media #{$max767} {
      padding-top: 30px;
      flex-direction: column;
    }
  }

  .image-wrapper {
    @media #{$max767} {
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      max-width: 340px;
    }
  }

  .footer-list {
    @media (max-width: 992px) {
      text-align: center;
    }

    & > p {
      @include text-styles($text-xl, $white, 700);
    }

    & > li {
      list-style-type: none;
      @include text-styles($text-base, $white, 300);
    }
  }

  .social-icons {
    @media #{$max767} {
      flex-direction: column;
    }

    & > p {
      @media #{$max767} {
       padding: 20px 0;
      }
    }

    .social-icon {
      color: $white;
      margin: 0 10px;

      &:hover {
        cursor: pointer;
        color: var(--app-purple);
      }
    }
  }
}
